<div>
  <div class="flex justify-center m-5">
    <h1 class="text-xl font-semibold">Sobre nós</h1>
  </div>

  <div class="flex justify-center">
    <div>
      <p>
        O <span class="font-semibold">MedCalc</span> é um projeto open source,
        gratuito e sem fins lucrativos desenvolvido com o objetivo de auxiliar
        estudantes e profissionais da saúde na realização de cálculos de
        diluição de medicamentos.
      </p>
      <br />
      <p>
        O projeto foi desenvolvido por
        <span class="font-semibold">Guilherme Barbosa</span> e conta com a
        orientação da enfermeira
        <span class="font-semibold">Renata Cecilia</span>.
      </p>
    </div>
  </div>

  <div class="mt-5">
    <p>Caso tenha alguma crítica ou sugestão,</p>
    <p>entre em contato conosco:</p>

    <div class="flex mt-2">
      <div>
        <div class="flex mb-2">
          <i class="bx bx-envelope"></i>
          <p class="font-semibold">guilherme.strg@gmail.com</p>
        </div>

        <div class="flex">
          <i class="bx bx-phone"></i>
          <p class="font-semibold">(34) 98403-9344</p>
        </div>
      </div>
    </div>
  </div>
</div>
