<div>
  <div class="flex justify-center m-5">
    <h1 class="text-xl font-semibold">Macrogotas</h1>
  </div>

  <div class="flex justify-center">
    <div>
      <form [formGroup]="formulario" *ngIf="formulario">
        <div class="m-2">
          <label for="">Volume total (ml):</label>
          <input
            class="default-input"
            formControlName="volume"
            type="number"
            matInput
          />
        </div>


        <div class="m-2">
          <div class="flex items-center mb-2">
            <input
              id="horas"
              type="radio"
              formControlName="tipoTempo"
              value="horas"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2"
            />
            <label for="horas" class="ms-2 text-sm font-medium text-gray-900"
              >Horas</label
            >
          </div>
          <div class="flex items-center">
            <input
              id="minutos"
              type="radio"
              formControlName="tipoTempo"
              value="minutos"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2"
            />
            <label for="minutos" class="ms-2 text-sm font-medium text-gray-900"
              >Minutos</label
            >
          </div>
        </div>


        <div class="m-2">
          <label for="">Tempo:</label>
          <input
            class="default-input"
            formControlName="tempo"
            type="number"
            matInput
          />
        </div>

        <app-button-primary
          (click)="calcular()"
          [value]="'Calcular'"
        ></app-button-primary>
      </form>
    </div>
  </div>
</div>
