<div>
  <div class="flex justify-center m-5">
    <h1 class="text-xl font-semibold">Microgotas</h1>
  </div>

  <div class="flex justify-center">
    <div>
      <form [formGroup]="formulario" *ngIf="formulario">
        <div class="m-2">
          <label for="">Volume total (ml):</label>
          <input
            class="default-input"
            formControlName="volume"
            type="number"
            matInput
          />
          <div
            class="mensagem__erro"
            *ngIf="formulario.get('volume')?.errors?.['required'] && formulario.get('volume')?.touched"
          >
            Volume é obrigatório
          </div>
        </div>

        <div class="m-2">
          <label for="">Hora:</label>
          <input
            class="default-input"
            formControlName="hora"
            type="number"
            matInput
          />
          <div
            class="mensagem__erro"
            *ngIf="formulario.get('hora')?.errors?.['required'] && formulario.get('hora')?.touched"
          >
            Hora é obrigatório
          </div>
        </div>

        <div class="m-2">
          <label for="">Minuto:</label>
          <input
            class="default-input"
            formControlName="minuto"
            type="number"
            matInput
          />
          <div
            class="mensagem__erro"
            *ngIf="formulario.get('minuto')?.errors?.['required'] && formulario.get('minuto')?.touched"
          >
            Minuto é obrigatório
          </div>
        </div>

        <app-button-primary
          (click)="calcular()"
          [value]="'Calcular'"
        ></app-button-primary>
      </form>
    </div>
  </div>
</div>
