<div>
  <div class="flex justify-center m-5">
    <h1 class="text-xl font-semibold">Diluição</h1>
  </div>

  <div class="flex justify-center">
    <div>
      <form [formGroup]="formulario" *ngIf="formulario">
        <div class="m-2">
          <label for="">Volume total (ml):</label>
          <input
            class="default-input"
            formControlName="volume"
            type="number"
            matInput
          />
          <div
            class="mensagem__erro"
            *ngIf="formulario.get('volume')?.errors?.['required'] && formulario.get('volume')?.touched"
          >
            Volume é obrigatório
          </div>
        </div>

        <div class="m-2">
          <label for="">Prescrição: (mg)</label>
          <input
            class="default-input"
            formControlName="prescricao"
            type="number"
            matInput
          />
          <div
            class="mensagem__erro"
            *ngIf="formulario.get('prescricao')?.errors?.['required'] && formulario.get('prescricao')?.touched"
          >
            Prescrição é obrigatório
          </div>
        </div>

        <div class="m-2">
          <label for="">Diluente: (ml)</label>
          <input
            class="default-input"
            formControlName="diluente"
            type="number"
            matInput
          />
          <div
            class="mensagem__erro"
            *ngIf="formulario.get('diluente')?.errors?.['required'] && formulario.get('diluente')?.touched"
          >
            Diluente é obrigatório
          </div>
        </div>

        <app-button-primary
          (click)="calcular()"
          [value]="'Calcular'"
        ></app-button-primary>
      </form>
    </div>
  </div>
</div>
